<?xml version="1.0"?>
<config>
    <modules>
       <Studioone_ArCa>
<!-- declare module's version information for database updates -->
          <version>0.1.1</version>
       </Studioone_ArCa>
    </modules>
 
    <global>
<!-- IMPORTANT: if you use your own namespace (i.e. Studioone) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
    <blocks>
        <arca>
            <class>Studioone_ArCa_Block</class>
        </arca>
    </blocks>
 <helpers>
        <arca>
            <class>Studioone_ArCa_Helper</class>
        </arca>
    </helpers>
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('arca/...') -->
            <arca>
<!-- base class name for the model group -->
                <class>Studioone_ArCa_Model</class>
            </arca>
        </models>
 
<!-- declare resource setup for new module -->
        <resources>
<!-- resource identifier -->
            <arca_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
<!-- which module to look for install/upgrade files in -->
                    <module>Studioone_ArCa</module>
                </setup>
<!-- specify database connection for this resource -->
                <connection>
<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </arca_setup>
            <arca_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </arca_write>
            <arca_read>
               <connection>
                <use>core_read</use>
              </connection>
            </arca_read>
        </resources>
    </global>
 
<!-- declare default configuration values for this module -->
    <default>
<!-- 'payment' configuration section (tab) -->
        <payment>
<!-- 'arca' configuration group (fieldset) -->
            <arca>
<!-- by default this payment method is inactive -->
                <active>0</active>
<!-- model to handle logic for this payment method -->
                <model>arca/ArCa</model>
<!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
<!-- default title for payment checkout page and order view page -->
                <title>ArCa Payment</title>
 
               
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </arca>
         </payment>
    </default>
</config>