<?xml version="1.0"?>
<config>
    <modules>
        <Studioone_ArCa>
            <version>0.1.0</version>
        </Studioone_ArCa>
    </modules>
    <frontend>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Studioone_ArCa</module>
                    <frontName>ArCa</frontName>
                </args>
            </pay>
        </routers>
        <layout>
            <updates>
                <pay>
                    <file>arca.xml</file>
                </pay>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <arca>
                <class>Studioone_ArCa_Model</class>
                <resourceModel>pay_mysql4</resourceModel>
            </arca>
            <arcamysql4>
                <class>Studioone_ArCa_Model_Mysql4</class>
                <entities>
                    <pay>
                        <table>pay</table>
                    </pay>
                </entities>
            </arca_mysql4>
        </models>
        <resources>
            <arca_setup>
                <setup>
                    <module>Studioone_ArCa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </arca_setup>
            <arca_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </arca_write>
            <arca_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </arca_read>
        </resources>
        <blocks>
            <arca>
                <class>Studioone_ArCa_Block</class>
            </arca>
        </blocks>
        <helpers>
            <pay>
                <class>Studioone_ArCa_Helper</class>
            </pay>
        </helpers>
    </global>
    <default>
        <payment>
            <arca>
                <active>1</active>
                <model>arca/arca</model>
                <order_status>pending</order_status>
                <title>Arca Payment Method</title>
                <message>Processing Payment with Arca</message>
            </arca>
         </payment>
    </default>
</config>